.cardPost {
  
  h2 {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 1.75rem;

    cursor: pointer;

    transition: color .3s ease-in-out;
    &:hover {
      color: #FF57B2;
    }
  }

  p {
    color: #D7D7D7;
    font-size: 1.125rem;
    margin: 0.4rem 0rem;
  }
}

.loadingNewPosts {
  color: #FF57B2;
  font-size: 1.125rem;
  font-weight: 600;

  transition: filter .3s ease-in-out;
  &:hover {
    filter: brightness(90%);
  }
}